#root {
  font-size: 15.5pt;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 }

body{
  background-color: beige;
}

.header >h1{
  font-size: 2.7em;

}

.bio img{
  border-radius: 50%;
}

.card{
  background-color: #213547;
  border-radius: 5%;
  color: beige;
  height: 500px;
  line-height: 28px;
  padding: 0 20px;
  width: 1000px;
}

.card img{  
  margin-top: 30px;
  width: 300px;
}

.card >h2{
  padding-top: 20px;

}

.footer p {
  font-size: 1.2em;
  margin-top: 50px;
}